.home{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cardContainer, .techstackRow{
    display: flex;
    flex-direction: row;
    gap: 10px;
        width: 100%;
    justify-content: center;
}

.cardContainer{
    flex-wrap: wrap;

}

.cardContainer:first-of-type{
    height: 70vh;
        padding-bottom: 30px 0;

}

.techstackRow{
    height: 15vh;
    padding: 18px 0;
    z-index: 2;

}
.cardContainer:last-of-type{
    padding-top: 40px;
}

.cardContainer:first-of-type, .techstackRow, .cardContainer:last-of-type{
    overflow: hidden;
}

.cardContainer > div {
  flex: 0 0 calc(8% - 1rem); /* 10 items per row minus gap */
}

.techstackRow> div{
 flex: 0 0 calc(12.5% - 1rem)
}


