/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    background-color: #222024;
    max-height: 100vh;
    background-image: url('../public/stars.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.headingContainer{
position:absolute;
/* border: red solid 1px;
 */margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 20vh;
width: fit-content;
}

.headingContainer > :last-child{
    transform: rotatex(180deg) translatey(15px);
    --gradient: linear-gradient(transparent 50%, white 90%);
  -webkit-mask-image: var(--gradient);
  mask-image: var(--gradient);
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.4), -2px -2px 6px rgba(0, 255, 0, 0.4),
    2px 2px 4px rgba(0, 255, 255, 0.4);
  background-image: unset;
  margin-top: 10px;
}

.heading{
    color: #fff;
    font-size: 3rem;
     font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}