/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    background-color: #222024;
    max-height: 100vh;
    background-image: url('../public/stars.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/*  */